* {
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #0093e9, #80d0c7);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 0 20px;
}

.header {
  height: 80px;
  color: #666;
  line-height: 80px;
}
.header h1 {
  margin: 0;
}

.main {
  display: flex;
}

.sidenav {
  width: 200px;
  padding: 10px;
}

.control-panel {
  display: flex;
  flex-direction: column;
}
.control-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.control-item input {
  width: 80%;
  border: 1px solid #eee;
  margin-bottom: 5px;
}
.control-item label {
  color: #fff;
}

.grid {
  width: calc(100vmin - 100px);
}
.row {
  display: flex;
}
.col {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-weight: bold;
}
.col:before {
  content: '';
  display: block;
  padding-top: 100%;
}
